<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Welcome to Sign In Page</h2>
        <form action="/authen/register" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" id="role" name="roles" required>
                    <option value="" disabled selected>Select Role for User</option>
                    <option value="Admin">Admin</option>
                    <option value="Update_Permission User">Update_Permission User</option>
                    <option value="Normal User">Normal User</option>
                    <option value="Create_Permission User">Create_Permission User</option>
                    <option value="CRUD User">CRUD User</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
            <a href="/authen/login" class="btn btn-link">Already have an account? Go to Login</a>
        </form>
    </div>
</body>
</html>